PORT=5001
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/rozgaarhub
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/rozgaarhub?retryWrites=true&w=majority

JWT_SECRET=your_jwt_secret_key_here
CLIENT_URL=http://localhost:3000

# Razorpay Configuration (Optional for mock testing)
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret

# Cloudinary Storage Configuration
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
